$main-font-family: "Roboto";

$main-text-color: #333333;

$header-top-bgc: #333333;
$header-gradient-top-bgc: #00a9e7;
$header-gradient-bottom-bgc: #005b9f;

$copyright-color: #ffffff;
$barrier-border-color: #ffffff;
$nav-link-color: #ffffff;
$footer-bgc: #333333;

$btn-update-hover-color: #ffffff;
$btn-update-hover-bgc: #0565a0;
$btn-delete-hover-color: #ffffff;
$btn-delete-hover-bgc: rgb(184, 3, 3);
$update-btn-form-bgc: #00a9e7;
$update-btn-color: #fff;
$del-btn-bgc: red;

$todo-form-bgc: #00a9e7;
$todo-form-btn-hover-bgc: #ffffff;
$todo-form-btn-hover-border-color: #0076c0;
$todo-form-button-bgc: #45b7ff;
$todo-gradient-top-bgc: #00afed;
$todo-gradient-bottom-bgc: #00569a;

$select-bgc: #00a9e7;

$filter-bgc: #00a9e7;

$main-header-color: #ffffff;

$auth-form-background-color: #ffffff;
$login-btn-color: #ffffff;
$login-btn-hover-bgc: #ffffff;
$login-btn-hover-border-color: #0076c0;
$register-btn-hover-bgc: #ffffff;
$register-btn-hover-border-color: #0076c0;
$forgot-btn-bgc: #ffffff;
$login-btn-bgc: #0076c0;
$forgot-btn-text-color: #056dae;
$forgot-btn-hover-color: #056dae;
$register-btn-text-color: #333333;
$register-btn-bgc: #f6f6f6;
$error-input-border-text: #d60000;
